/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --ff-roboto: "Roboto";
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --blue: #184f77;
  --light-blue: #178bad;
}

body {
  display: grid;
  place-items: center;
  margin: 2rem;
  font-family: var(--ff-roboto);
  gap: 3rem;
  background-color: var(--light-blue);
  color: white;
}

nav {
  display: grid;
  gap: 0.5rem;
}

.weather-logo-title {
  text-align: center;
  font-size: 2rem;
}

#user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#search-location {
  width: 16rem;
  height: 2.5rem;
  border-radius: 2rem;
  padding: 1rem;
  border: 2px solid white;
}

.submit-btn {
  border: none;
  background: none;
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.location-message-style {
  border: 1px solid white;
  padding: 0.5rem;
  text-align: center;
  background: white;
  color: rgb(216, 30, 30);
  border-radius: 1rem;
}

.fahrenheit-celsius {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.temperature-convertion-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 1rem;
  border: 2px solid white;
}

.temperature-convertion-btn:hover {
  border: 2px solid black;
}

.loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
}

.loading.display {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* city country section */
.city-county>h2 {
  text-align: center;
  font-size: 1.875rem;
}

.date-time>h4 {
  font-size: 1.25rem;
  font-weight: var(--fw-regular);
}

/* Date time section */
.date-time>h4 {
  text-align: center;
}

/* Current weather report */
.current-weather {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

.current-weather__temperature {
  font-size: 4rem;
}

.current-weather__additional-info {
  font-size: 1.2rem;
}

.additional-info__condition {
  font-weight: var(--fw-bold);
}

/* current weather details */
.weather-details {
  text-align: center;
}

.weather-details .wind-humidity-uv-data {
  margin-bottom: 1rem;
}

:is(.wind-humidity-uv-data,
  .sunrise-sunset-moon-data) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.weather-forecast>h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.current-data-bigfont {
  font-size: 1.5rem;
}

:is(.wind-data__title,
  .humidity-data__title,
  .uv-data__title,
  .sunrise__title,
  .sunset__title,
  .moon-phase__title) {
  opacity: 0.8;
}

/* weather forecast */
:is(.forecast-table-head,
  .day-zero,
  .day-one,
  .day-two,
  .day-three,
  .day-four,
  .day-five,
  .day-six) {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  justify-items: center;
  gap: 20px;
}

/* weather forecast temperature*/
:is(.day-zero__temperature,
  .day-one__temperature,
  .day-two__temperature,
  .day-three__temperature,
  .day-four__temperature,
  .day-five__temperature,
  .day-six__temperature,

) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span>a {
  color: white;
}

.hide-data {
  display: none;
}